* {
    margin: 0;
}

/* Google font */
body {
    font-family: 'Roboto', sans-serif;
}

/* Navbar */
.my-main-navbar{
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 0px 30px;
    background-image: linear-gradient(rgba(0,0,0, .8) ,rgba(0,0,0, 0));
}

.navbar-profile-button {
    margin-left: 10px;
}

/* Navbar: nav link */
.my-nav-link{
    color: white;
}

.my-nav-link:hover{
    color: #e2e6ea;
}

.my-nav-link-active {
    font-weight: bold;
}

/*Feature Space*/
.featureSpace{
    position: relative;
    top: 0;
}

/* Content */
.myContainer {
    background-color: #151515;
    min-height: 100vh;
    color: white;
}

.myContentContainer {
    margin-left: 50px;
}

/* Featured: Content */
.featured-content {
    height: 75vh;
    background-color: tomato;
    padding: 50px;
}

/* Featured: Element */
.featured-title {
    margin-top: 15px;
    width: 200px;
}

.featured-desc {
    width: 500px;
    color: lightgray;
    margin: 30px 0;
}

/* Featured: button */
.featured-button {
    padding: 10px 25px;
    font-weight: 600;
    font-size: larger;
    margin-right: 10px;
    border: none;
}

.featured-play-button:hover {
    background-color: #e2e6ea;
}

.featured-button-icon {
    font-size: larger;
    padding-right: 10px;
}

/* Movie List: Content */
.movie-list-container {
    padding: 0 20px 50px 20px;
}

.movie-list-wrapper {
    position: relative;
    overflow: hidden;
}

.movie-list {
    display: flex;
    align-items: center;
    height: 300px;
    transform: translateX(0);
    transition: all 1s ease-in-out;
}

/* Movie List: item */
.movie-list-item {
    margin-right: 30px;
    position: relative; 
    border-radius: 5px;
}

.movie-list-item-img {
    width: 270px;
    height: 200px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    border-radius: 5px;
}

.movie-list-item-title {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 0 10px;
    font-size: 32px;
    font-weight: bold;
    position: absolute;
    top: 10%;
    left: 50px;
    opacity: 0;
    transition: 0.5s all ease-in-out;
    border-radius: 10px;
}

.movie-list-item-desc {
    background-color: #333;
    padding: 10px;
    font-size: 14px;
    position: absolute;
    top: 30%;
    left: 50px;
    width: 230px;
    opacity: 0;
    transition: 0.5s all ease-in-out;
}

/* Movie List Item: button */
.movie-list-item-button {
    padding-top: 10px;
    padding-left: 15px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: 0.5s all ease-in-out;
    border: none;
    box-shadow: rgba(0, 0, 0, 1) 0px 22px 70px 4px;
}

.movie-list-item-button:hover {
    background-color: #e2e6ea;
}

.movie-item-button-icon {
    font-size: x-large;
    text-align: center;
}

/* Movie List Item: button: Watch button */
.movie-list-item-watch-button {
    position: absolute;
    bottom: 20px;
    left: 15px;
}

/* Movie List Item: button: Detail button */
.movie-list-item-detail-button {
    padding: 12px 15px 7px 15px;
    position: absolute;
    bottom: 20px;
    right: 15px;
}

/* Movie List: Item [Hover] */
.movie-list-item:hover .movie-list-item-img {
    transform: scale(1.3);
    margin: 0 30px;
}

.movie-list-item:hover .movie-list-item-title, 
.movie-list-item:hover .movie-list-item-desc, 
.movie-list-item:hover .movie-list-item-button {
    opacity: 1;
} 

/* Pagin arrow */
.arrow {
    font-size: 120px;
    position: absolute;
    top: 45px;
    right: 0;
    color: lightgray;
    opacity: 0.5;
    cursor: pointer;
}